APScheduler==3.10.4
psutil==5.9.8
pyaes==1.6.1
pymediainfo==6.1.0
pyrotgfork==2.1.30
PySocks==1.7.1
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
TgCrypto==1.2.5
typing_extensions==4.11.0
tzlocal==5.2
pymongo[srv]==3.12.3
motor==2.5.1
umongo==3.0.1
uvloop==0.19.0
